body {
    color: #333;
    background: #f7f7f7;
    border: 0;
}

#wrapper {
    border: 0;
    background: #f7f7f7;
    box-shadow: none;
}

#button {
    background: #049;
    border: 1px solid #000;
}

#button:hover {
    background: #26b;
}

#title {
    font-size: 2.6em;
    margin-bottom: 1em;
}

#inner {
    padding: 0.5em;
}

.center {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}
