<!doctype html>
<html>
    <head>
        <title>Terms and Conditions</title>
        <link href="static/plugins/ep_lopad/static/css/lopad.css" rel="stylesheet"> 
    </head>
    <body>
        <div class="container">
            <h1>Terms and Conditions</h1>
            <div class="inner">
                <ol>
                    <li>You own any content you enter.</li>
                    <li>Don't do anything malicious or illegal.</li>
                    <li>We cannot be held liable for any damage or loss of information that arise as a result of using this service. You use it at your own risk. We recommend that you regularly export your data.</li>
                    <li>Pads which have not been used in more than 7 days may be deleted.</li>
                    <li>These terms and conditions are subject to change without notice. The current version can be found at <a href="/tos.html">http://www.lopad.org/tos.html</a>.</li>
                </ol>
            </div>
        </div>
    </body>
</html>
